# Project Configuration

## Tech Stack

- Rust (1.85+)
- Serenity, Poise libraries for discord
- toml files for persisting and updating state (eventually need to improve this)
- GitHub for version control
- Manual deployment at the moment

## Project Structure

```
(replace with tree .)
```

## Database info


## Development Workflow

- Cline helps write and review code changes.
- User will make edits and decide directions between Cline sessions.
